{% set attributes = create_attribute({'class': ['hakuvahti-form']}) %}

{% if autosubmit %}
  {# Hide the form and submit automatically with javascript. #}
  {{ attach_library('helfi_hakuvahti/form') }}
  {% set attributes = attributes.addClass(['visually-hidden']) %}
{% endif %}

<form {{ attributes }} method="post" action="{{ action_url }}">
  {% for field in fields %}
    {% if field.type == 'hidden' %}
      <input type="hidden" name="{{ field.name }}" value="{{ field.value }}">
    {% else %}
      <div class="hakuvahti-form__field hds-text-input">
        {% if field.label %}
          <label class="hds-text-input__label" for="hakuvahti-{{ field.name }}">{{ field.label }}{% if field.required %} *{% endif %}</label>
        {% endif %}
        <div class="hds-text-input__input-wrapper">
          <input class="hds-text-input__input" type="{{ field.type|default('text') }}" id="hakuvahti-{{ field.name }}" name="{{ field.name }}" value="{{ field.value|default('') }}"{% if field.required %} required{% endif %}>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  <div class="form-submit">
    <button type="submit" data-hds-component="button">{{ button_text }}</button>
  </div>
</form>
